/* ========== Google Fonts ========== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

/* ========== Variables ========== */
:root {
	--bg-color: linear-gradient(to right, #f7b733, #fc4a1a);
	--white: #edf1f4;
	--orange: #f7b733;
	--black: #222;
	--btn--color: #fdca40;
	--btn-operation-color: #6d98ba;
	--border: 0.2rem solid #333;
	--box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 20px #fffb;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0;
	border: none;
	transition: all 0.5s ease;
	font-family: 'Poppins', sans-serif;
}

.btn {
	display: block;
	width: 100%;
	margin-top: 0.625rem;
	padding: 0.75rem 0.9375rem;
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	cursor: pointer;
	background-color: var(--btn--color);
	transition: all 0.6s ease;
}

.btn:hover {
	background: var(--bg-color);
}

.container {
	width: 100%;
	height: 100vh;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--bg-color);
}

.calculator {
	width: 55%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--white);
}

.form_container {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 100vh;
	padding-bottom: 3.75rem;
}

.form_container form {
	width: 31.25rem;
	padding: 1.25rem;
	text-align: center;
	background-color: var(--white);
	border-radius: 0.5rem;
	box-shadow: var(--box-shadow);
}

.form_container form h3 {
	margin-bottom: 0.625rem;
	font-size: 1.5rem;
	color: var(--black);
}

.form_container form .box {
	width: 100%;
	margin: 0.4375rem 0;
	padding: 1rem;
	font-size: 1rem;
	border: var(--border);
	border-radius: 0.5rem;
}

.form_container form h4 {
	margin-top: 0.8rem;
}

.operation {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	/* margin: 0.5rem; */
}

label {
	margin: 0.5rem;
	font-size: 1.3rem;
}

.history {
	width: 45%;
	height: 100%;
	padding: 2rem;
	display: grid;
	place-items: center;
	background-color: var(--white);
}

.display_history {
	position: relative;
	width: 100%;
	height: 30rem;
	margin: 1rem;
	padding: 0.5rem;
	text-align: center;
	box-shadow: var(--box-shadow);
	border-radius: 0.5rem;
	overflow-y: auto;
}

.histori_operation {
	width: 10rem;
	height: 3rem;
	display: inline-block;
	text-align: center;
	padding: 0.5rem;
	margin: 0.2rem;
	font-size: 1.3rem;
	background-color: var(--orange);
	border: var(--border);
	border-radius: 0.5rem;
}
